@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Comic+Relief:wght@400;700&family=Dosis:wght@200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+RO:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: #2C2F48;
}

.sidebar {
  width: 18%;
  height: 100%;
  min-height: 100vh;
  
  background-color: #3A3D5A;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-transform: capitalize;
}

.company-name {
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.header-icon {
  display: inline-block;
  transform: translate(3px, 3px);
  font-size: 18px;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  color: white;
  padding: 11px;
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}

.menu li a:hover {
  background-color: #4c5071;
  border-radius: 4px;
}

.icon {

  margin-right: 15px;
}

.icon svg {
  font-size: 18px;
}

.point {
  font-size: 18px;
}

.arrow {
  margin-left: auto;
  font-size: 12px;
}


li {
  list-style: none;
}

.border {
  border: 2px solid red;
}








.navbar {
  width: 96%;

  display: flex;
  /* box-shadow: -1px 1px 1px #4c5071; */
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  margin: 10px 20px;
  background-color: #3A3D5A;
  color: white;
  border-radius: 5px;
  border-bottom: 1px solid #3A3D5A;
}


.navbar-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-icon {
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}

.notification-dot {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 9px;
  height: 9px;
  background-color: red;
  border-radius: 50%;
}

.user-profile .avatar {
  margin-left: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}






.language-container {
  position: relative;
}

.language-dropdown {

  position: absolute;
  top: 60px;
  width: 130px;
  height: 70px;
  right: 150px;
  background-color: #3A3D5A;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 5px 3px;
  z-index: 10;
}

.language-option {

  width: 100%;



  height: 60%;
  margin-bottom: 3px;
  background: none;
  border: none;
  color: white;
  /* padding: 10px; */
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.language-option:hover {
  background-color: #4c5071;

  border-radius: 5px;
}

.language-option.active {
  background-color: #464e97;
  border-radius: 5px;
}


.icon-home {


  display: inline-flex;
  width: 35px;
  height: 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  font-size: 30px;
  font-weight: 900;
  background: transparent;
/* background: #a3e8bf; */

}


.icon-home.products {


  color: #6c78d2;
  background-color: #3f406b;
}

.icon-home.cart {

  background-color: #866c4e !important;
  color: #e0923d !important;

}

.icon-home.friends {

  background-color: #4d384b !important;
  color: #ea5455 !important;
}

.icon-home.global {

  background-color: #36595e !important;
  color: #1ab7ea !important;
  /* background: #36bc8b; */
}

